.firstimg{
	padding-left: 100px;
	max-width:1920px;
	padding-top: 50px;
	size: 100px;
	width: 100%;
	margin: 0 auto;
}
.firstimg img{
	width: 100%;
}


.section2{
	margin: 100px;
	background-color: #FFFFFF;
	border:solid #00000029 1px;
	width: 400px;
	margin-top: 50pxpx;
	border-top: 0;

}
.textsize{
	text-align: right;
}
.section2img
{ width: 400px;
	box-sizing: border-box;
}
p{
	margin: 150px;
	margin-bottom: 0;
	color: #707070;
}
.p2{
	text-align: center;
	color: #707070;
	margin: 100px;
}
.p3{
	color:#707070 ;
	size: 100px;
}
.section3{
	margin-left: 100px;
	margin-top: 50px;
	background-color: #FFFFFF;
	border:solid #00000029 1px;
	width: 400px;
	margin-top: 50pxpx;
	border-top: 0;
	margin-bottom: 0px;
	box-sizing: border-box;

}

footer{
	text-align: right;
	pedding-right: 20px;
}
.ph{
	text-align: right;
	word-spacing: 20px;
}
.footer{
	background:#2E2E2E 500px;
	height: 150px ;
	margin-top: 50px;
	
}
.p4{
	text-align: left;
	padding-top: 70px;

}
.fblogo{
	padding-left: 245px;
}
.iglogo{
	padding-left: 20px;
}
